@import url("fonts.less");
@import url("mixin.less");

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: @font-regular;
    color: @color;
    font-size: 16px;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}

a {
    color: @color;
    text-decoration: none;
}

b {
    font-family: @font-bold;
}

.b-page {
    
    &__about,
    &__portfolio {
        padding: 0;
        margin: 0;
    }
}

.b-ui {

    &-icon {
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            background: url('../images/sprite.png') no-repeat;
            left: 50%;
            top: 50%;
            position: absolute;
        }

        &_arrow {

            &__left {
                cursor: pointer;

                &:after {
                    background-position: -86px -52px;
                    width: 17px;
                    height: 34px;
                    margin: -17px 0 0 -8px;
                }
            }
            
            &__right {
                cursor: pointer;

                &:after {
                    background-position: -68px -52px;
                    width: 17px;
                    height: 34px;
                    margin: -17px 0 0 -8px;
                }
            }
        }


        &__arrow {

            &:after {
                background-position: 0 0;   
                height: 9px;
                width: 8px;
                margin: -4px 0 0 -4px;
            }
        }

        &__ctrl {  
            height: 17px;
            width: 30px;

            &:after {
                background-position: 0 -59px;   
                height: 17px;
                width: 30px;
                margin: -8px 0 0 -15px;
            }            
        }


        &__sign {

            &-w {
                width: 28px;
                height: 15px;

                &:after {
                    background-position: 0 -14px;   
                    height: 33px;
                    width: 28px;
                    margin: -14px 0 0 -16px;
                }

                &-l:after{
                    background-position:  -32px -53px;
                    width: 33px;
                    height: 28px;
                    margin: -14px 0 0 -16px;
                }
            }
            
            &-b {
                width: 28px;
                height: 15px;

                &:after {
                    background-position: -33px -14px;
                    height: 33px;
                    width: 39px;
                    margin: -14px 0 0 -16px;
                }

                &-l:after{
                    background-position:  -75px -8px;
                    width: 33px;
                    height: 28px;
                    margin: -14px 0 0 -16px;
                }
            }
        }
    }

    &-ctrl {
        cursor: pointer;
        background: transparent;
        border: 1px solid transparent;
        line-height: 1;

        &__big {   
            width: 232px;
            height: 54px;
            line-height: 54px;
        }

        &__white {   
            position: relative;
            padding: 6px 9px;
            border: 4px solid @color;
            background: #fff;
            font-size: 16px;
        }

        &__orange {   
            color: #fff;
            background: #bb8416;
            border-radius: 5px;
        }
    }
}

.b-wrapper {

    &_fixed {
        padding: 5px;
        background: white;
        top: 50%;
        left: -35px;
        position: fixed;
        z-index: 100;
        transform: rotate(90deg);


        .b-ui-ctrl {
            text-transform: uppercase;
            width: 100px;
            text-align: right;
            padding-right: 15px;
        }

        .b-ui-icon {
            transform: rotate(-90deg);
            position: absolute;
            top: 2px;
            left: -5px;
        }
    }

    &__nav {
        background: #61615c url('../images/self.jpg') no-repeat;
        background-size: cover;
        .display-flex;
        .justify-content(center);
        .align-items(center);
        padding: 166px 0 238px;

        @media @tablet {
            padding: 232px 0 171px;
        }

        @media @mobile {
            .flex-column;
            .align-items(stretch);
            padding: 0;
        }
    }

    &__disn {
        background: #61615c url('../images/blur.jpg') no-repeat;
    }

    &__portf {
        background: #61615c url('../images/intr.jpg') no-repeat;
        background-size: cover;
    }

    &__portfolio {
        background: #61615c url('../images/portfolio.jpg') no-repeat;
        background-size: cover;
        .display-flex;
        height: 100%;
    }

    &__about {
        background: #61615c url('../images/about.jpg') no-repeat;
        background-size: cover;
        .display-flex;
        height: 100%;
        padding: 37px 25px;
    }

    &__excl {
        background: #edede6;
        padding: 10px;

        @media @mobile {
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.27);
        }
    }

    &__user {
        background: #fff;
        padding: 24px;
    }

    &__form {
        background: #635a49;
        padding: 31px 44px 0;
    }

    &__footer {
        background: #282216;
        box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.27);
        padding: 25px 44px;
    }
}

.b-logo {
    background: #000;
    display: inline-block;
    min-height: 307px;
    .flex(0 0 327px);

    &_image {
        display: block;
        line-height: 0;
        font-size: 0;
        margin: 0 auto;
        padding: 43px 0 30px;
        max-width: 109px;
    }

    @media @mobile {
        display: block;
        min-height: auto;
        .flex(0 0 100%);
    }
}

.b-navigation {
    display: inline-block;
    background: #fff;
    position: relative;
    padding: 10px 10px 42px;
    text-align: left;
    min-height: 307px;
    .flex(0 0 286px);

    @media @mobile {
        display: block;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.27);
        .flex(0 0 100%);
    }

    &:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 10px;
        border: 1px solid  transparent;
        border-left-color: #545454;
        border-right-color: #545454;
        border-top-color: @color;
        border-bottom-color: @color;
        z-index: 0;
    }

    &_icon {
        display: block;
        width: 22px;
        height: 12px;
        border: 1px solid  @color;
        margin: 30px auto;
        opacity: .7;


        &:before,
        &:after {
            background: @color;
            display: block;
            content: '';
        }

        &:before {
            width: 2px;
            height: 17px;
            margin: -3px auto 0;
        }

        &:after {
            width: 28px;
            height: 2px;
            margin: -10px 0 0 -4px;
        }

        &__white {
            border-color: #fff;

            &:before,
            &:after {
                background: #fff;
            }
        }
    }

    &_link {
        display: block;
        position: relative;
        font-family: @font-ex-light;
        font-size: 18px;
        padding: 0 0 0 25px;
        z-index: 1;
        height: 26px;
        line-height: 26px;

        &:hover {
            font-family: @font-bold;
        }
    }
}

.b-advantages {
    padding: 30px;

    &_title {
        color: @color-orange;
        text-transform: uppercase;
        font-family: @font-bold;
        font-size: 20px;
        margin: 0;
    }

    &_white {
        color: #fff;
    }

    &_small {
        display: block;
        text-transform: lowercase;
        white-space: nowrap;
    }

    &_underlink {
        width: 85%;
        display: inline-block;
        text-align: center;
        margin: 0 5px;
        position: relative;

        &:before,
        &:after {
            content: '';
            display: block;
            border-top: 3px solid #c2945e;
            position: absolute;
            top: 14px;
            width: 46%;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        .b-ui-icon__arrow {
            top: 15px;
            position: absolute;
            right: 0;
        }
    }

    &_text {
        font-family: @font-ex-light;
        font-size: 16px;
        color: #fff;
        margin: 24px 0;
    }

    &_link {
        font-family: @font-bold;
        font-size: 18px;
        color: #fff;
        border: 3px solid #fff;
        line-height: 54px;
        text-align: center;
        display: block;
        max-width: 243px;
        text-transform: uppercase;
        margin: 0 auto;
        height: 55px;

        .b-ui-icon__sign-w {
            left : 14px;
        }
    }
}

.b-protfolio {
    padding: 30px 9px 9px;

    @media @mobile {
        text-align: center;
    }

    &_title {
        text-transform: uppercase;
        font-family: @font-bold;
        font-size: 25px;
        margin: 0;

        &__orange {
            color: @color-orange;
            display: inline-block;
            line-height: 1;
            position: relative;
            .align-self(start);

            span {
                position: relative;
                z-index: 1;
            }

            &:before {
                content: '';
                display: block;
                background: rgba(0, 0, 0, 0.59);
                position: absolute;
                top: -3px;
                bottom: -3px;
                z-index: 0;
                left: -3px;
                right: -3px;
            }
        }
    }

    &_list {
        padding: 0;
        list-style: none;
        margin:0;
        font-family: @font-ex-light;
        font-size: 14px;

        b {
            font-family: @font-ex-bold;
            font-size: 19px;
        }

        @media @mobile {
           margin-bottom: 243px;
        }
    }

    .b-table {
        background: #fff;
        text-align: right;


        .b-table_td {
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 35px;
            height: 35px;

            &:last-child {
                width: 35px;
            }

            .b-ui-icon__sign-b {
                top: 4px;
                left: 2px;
            }
        }


        .b-table_row {

            &:last-child {
                font-size: 12px;
            }
        }
    }

    &__page {
        .display-flex;
        .flex-column;
        .justify-content(space-between);
        .align-items(center);

        .b-table {

            &_wrapper {
                max-width: 441px;
            }

            &_td {
                text-align: center;

                &:nth-child {
                    &(1) {
                        max-width: 64px;
                    }

                    &(2) {
                        max-width: 290px;
                    }

                    &(3) {
                        max-width: 64px;
                    }
                }
            }
        }
    }
}

.b-table {
    display: table;
    border: 1px solid @color;
    border-collapse: collapse;
    width: 100%;

    &_wrapper {
        background: #fff;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
        padding : 9px;
    }


    &_row {
        display: table-row;
    }

    &_td {
        display: table-cell;
        border: 1px solid @color;
        vertical-align: middle;
    }
}

.b-excl {

    &_title {
        text-transform: uppercase;
        font-family: @font-bold;
        font-size: 25px;
        margin: 25px 0;  

        span {
            display: block;
            margin: 0 auto 0 40px;
        }      
    }
}

.b-slider {
    padding: 0 17px;
    position: relative;
    overflow: hidden;

    @media @mobile {
        max-height: 533px;
    }

    &_viewport {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 90%;
        margin: 0 auto;
        .display-flex;

        @media @mobile {
            .flex-column;

            .b-slider_unit {

                &:nth-child(even) {
                    margin-top: -125px;

                    img {
                        padding: 10px 10px 0;
                        background: #edede6;
                    }
                }
            }
        }
    }

    &_unit {
        text-align: center;
    }

    &_image {
        display: block;   
        max-width: 100%;     
        font-size: 0;
        line-height: 0;
        margin: auto;
    }

    &_text {
        background: #fff;
        text-transform: uppercase;
        position: relative;
        padding: 30px;
        text-align: left;
        margin: 0;

        &:before {
            content: '';
            border: 1px solid @color;
            position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
        }
    }

    &_ctrl {
        position: absolute;
        margin: -17px 0 0 0;
        top: 50%;

        &__left {
            left: 10px;
        }

        &__right {
            right: 10px;
        }
    }
}

.b-user {

    &_info {
        .display-flex;

        @media @mobile {
            .flex-column;
            margin-bottom: 40px; 
        }
    }

    &_unit {

        @media @mobile {
           float: left;
        }
    }

    &_name {
        color: @color-orange;
        font-family: @font-bold;
        margin: 0;

        span {
            display: block;

            &:first-child {
                font-size: 24px;
            }
            &:last-child {
                font-size: 18px;
            }
        }
    }

    &_image {
        max-width: 124px;
        max-height: 160px;
        display: block;

        @media @mobile {
           float: left;
           margin: 0 15px 0 0;
        }
    }

    &_prof {
        display: block;
        font-family: @font-light;
        font-size: 14px;
    }

    &_target {
        display: block;
        text-decoration: underline;
        margin: 40px 0 0;

        &:hover {
            text-decoration: none;
        }
    }

    &_comment {
        background: #fff;
        position: relative;
        padding: 30px;
        text-align: left;
        margin: 0;

        &:after {
            content: '';
            border: 3px solid @color;
            position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
        }
    }

    &_arrow {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        top: -11px;
        z-index: 3;
        border-width: 22px 0 0 22px;
        border-color: transparent transparent transparent black;

        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -17px;
            left: -20px;
            border-style: solid;
            border-width: 24px 0 0 24px;
            border-color: transparent transparent transparent #fff;
        }
    }

    &_count {
        font-family: @font-bold;
        font-size: 36px;
        text-align: right;

        span {
            border: 1px solid @color;
            padding: 22px 8px 17px;
            line-height: 0;
            display: inline-block;
        }
    }
}

.b-form {

    &_title {
        font-size: 19px;
        color: #fff;
        margin:  0 0 30px;
    }

    &_unit {
        border: none;
        width: 100%;
        margin-bottom: 13px;
        padding: 0;

        &__ctrl {
            text-align: center;
            padding-top: 20px;
            margin: 0;
        }
    }

    &_input {
        width: 100%;
        line-height: 32px;
        height: 32px;
        padding: 0 10px;
    }

    &_label {
        color: #fff;
        font-size: 15px;
        line-height: 1;
        margin-bottom: 10px;
    }

    &_helper {
        color: #fff;
        display: block;
        text-align: center;
        font-style: normal;
        font-family: @font-light;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1;
        margin: 23px 0;
    }
}

.b-company {

    &_address {
        font-style: normal;
        color: #fff;
        font-family: @font-thin;
        font-size: 15px;
        margin-bottom: 34px;
    }

    &_phone {
        color: #fff;
        font-family: @font-bold;
        font-size: 18px;
    }

    &_email {
        color: #fff;
        font-family: @font-light;
        font-size: 18px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }


    &_copy {
        color: #fff;
        font-family: @font-light;
        line-height: 16px;

        em {
            font-style: normal;
            position: relative;
            top: -2px;
        }
    }
}

.b-about {
    position: relative;

    &_title {
        position: relative;
        color: @color-orange;
        text-transform: uppercase;

        span {
            color: #fff;
        }
    }

    &_list {
        list-style-type:decimal-leading-zero;
        color: @color-orange;
        font-family: @font-ex-bold;
        font-size: 12px;
        margin: 40px 0;
        padding: 0 0 0 22px;

        h3 {
            color: #fff;
            font-family: @font-bold;
            text-transform: uppercase;
            font-size: 18px;
            margin: 0;
        }

        p {
            color:#fff;
            font-family: @font-ex-light;
            font-size: 17px;
        }
    }

    .b-advantages_link {
        width: 150px;
        margin: 0;
        position: absolute;
        bottom: 0;

        .b-ui-icon__sign-w {
            left: -7px;
        }
    }

    .b-navigation_icon {


        @media @mobile {
            position: absolute;
            top: -20px;
            right: 0;
        }
    }
}